- if params[:format]
  A format has been specified, but the default view has been selected. This suggests
  a bug, or that the format requested is not one that is currently supported.
- else
  .download
    .row
      .col-md-12
        %h2
          Download price paid data
          = render partial: "ppd/workflow_action_buttons", locals: {no_download: true}

    .row.spacer

    .row
      .col-md-12
        %table.table
          %thead
            %tr
              %th Data format
              %th Guidance
              %th Options
              %th
          %tbody
            %tr
              %td{rowspan: 4} Spreadsheet
              %td{rowspan: 4}
                Download the selected data as
                %a{ href: "http://en.wikipedia.org/wiki/Comma-separated_values"} comma-separated value
                (CSV) file. This is a good choice for loading into a spreadsheet.
              %td Only selected results
              %td
                %a.btn.btn-primary{ href: @preferences.as_path( :ppd_data, {format: :csv} )}
                  %i.fa.fa-download
                  get selected results as CSV
            %tr
              %td.no-border
                All matching results (see <strong>note&nbsp;1</strong>)

              %td.no-border
                %a.btn.btn-default{ href: @preferences.as_path( :ppd_data, {format: :csv}, {limit: :any} )}
                  %i.fa.fa-download
                  get <strong>all</strong> results as CSV

            %tr
              %td.no-border
                Only selected results, with column headers (see <strong>note&nbsp;2</strong>)

              %td.no-border
                %a.btn.btn-default{ href: @preferences.as_path( :ppd_data, {format: :csv, header: true}, {limit: :any} )}
                  %i.fa.fa-download
                  get selected results as CSV with headers
            %tr
              %td.no-border
                All matching results, with column headers (see <strong>notes 1</strong> and <strong>2</strong>)

              %td.no-border
                %a.btn.btn-default{ href: @preferences.as_path( :ppd_data, {format: :csv, headers: true}, {limit: :any} )}
                  %i.fa.fa-download
                  get <strong>all</strong> results as CSV with headers

            %tr
              %td{rowspan: 2} RDF Turtle
              %td{rowspan: 2}
                Download the selected data as
                %a{ href: "http://en.wikipedia.org/wiki/Turtle_(syntax)"}Turtle syntax
                file. This is a
                good choice for integrating the data with other Linked Data
                applications.
              %td Only selected results
              %td
                %a.btn.btn-default{ href: @preferences.as_path( :ppd_data, {format: :ttl} )}
                  %i.fa.fa-download
                  get selected results as Turtle
            %tr
              %td.no-border
                All matching results (see <strong>note&nbsp;1</strong>)

              %td.no-border
                %a.btn.btn-default{ href: @preferences.as_path( :ppd_data, {format: :ttl}, {limit: :any} )}
                  %i.fa.fa-download
                  get <strong>all</strong> results as Turtle

            %tr
              %td SPARQL
              %td
                See the SPARQL query that was used to select your data. You can
                edit the query to further refine your results.
              %td
              %td
                %a.btn.btn-default{ href: @preferences.as_path( :ppd_data, {explain: true} )}
                  %i.fa.fa-eye
                  view SPARQL query

    .row
      %p
        %strong Note 1
        This will download all results that match your query, not just the
        selected results.
        Depending on your query and the speed of your Internet connection, this may
        take some time and download a significant quantity of data.
      %p
        %strong Note 2
        For compatibility with previous releases of the data, column headers are not provided in the CSV file unless
        you select this option.
