.search-summary {
  border: 1px solid #ccc;
  padding: 0.5em;
  margin-bottom: 1em;
}

.ppd-results {
  .property-heading {
    font-size: 1.25em;
  }

  .property-details-field-title {
    color: #444;
    text-align: right;
    padding-right: 10px;
    width: 50%;
    font-size: 14px;
  }

  h3 {
    font-size: 1em;
    font-weight: bold;
  }
}
