.workflow-actions,
.search-form-actions {
  margin-block: 1.0em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1.0rem;
  justify-content: center;

  .button {
    flex: 0 0 auto;
    width: 90%;
  }

  .search-form-action {
    > .button {
      width: auto;
    }
  }

  @media (min-width: 576px) {
    row-gap: 0;
    justify-content: flex-end;

    .button {
      width: auto;
    }
  }

}
