/*
 *= require jquery-ui
 */

@import
  "govuk-template",
  "govuk-elements",
  "bootstrap-sprockets",
  "bootstrap",
  "font-awesome",
  "lr_common_styles/lr-common",
  "gov-uk-tweaks",
  "ppd",
  'search-form',
  'search-results',
  'workflow-actions';
