@use 'sass:color';

$lr-logo-grey: #a7a5a6;

@media (min-width: 641px) {
  .lr main {
    font-size: 16px;
    line-height: 1.31578947;
  }
}

.form-control {
  border: 1px solid #646464;
  border-radius: 4px !important;
}

.control-legend {
  border: none;
  font-size: 1.6rem;
  line-height: 1.31578947;
  font-family: "nta", Arial, sans-serif;
  font-weight: bold;

  @media (max-width: 768px) {
    margin-block-end: 0;
  }
}

.lr {
  .container {
    max-width: 960px;
  }

  #date-slider {
    margin-top: 10px;
  }

  h2,
  h3 {
    margin-top: 8px;
  }

  .inline {
    display: inline-block;
  }

  form.ppd {
    .form-group {
      margin-bottom: 8px;
    }

    ul {
      -webkit-margin-after: 0;
      margin-bottom: 0;
    }
  }

  .address {
    font-weight: bold;
  }

  .address-text {
    text-transform: capitalize;
  }

  .search-terms {
    margin-bottom: 0;

    .btn {
      border: 0;
      padding-left: 3px;
    }

    label {
      font-weight: normal;
    }

    li.term {
      border: 1px solid #d8d8d8;
      border-radius: 4px;
    }

    i {
      padding: 4px;
    }
  }

  .search-selection>span {
    margin-left: 10px;
  }

  .detailed-address {
    table {
      td {
        border: 0;
        padding: 2px;
      }

      .property-details-field-title {
        padding-right: 10px;
      }

    }

    .search-zoom-button {
      padding: 4px 4.75px;
    }
  }

  .prices {
    table {
      margin-bottom: 0;
    }

    td {
      padding: 4px;
    }
  }

  .ppd-results {

    h2,
    h3,
    h4 {
      font-family: Arial, sans-serif;
    }

    h3.group-key {
      font-variant: small-caps;
      font-size: 10pt;
      color: #555;
      margin: 12px 0 7px;
      text-align: center;
    }

    h4 {
      font-size: 18px;
    }

    td {
      font-size: 16px;
    }
  }

  .property-characteristics li {
    margin: 10px 5px;
  }

  .property-detail-tag {
    color: black;
  }

  .leading-title {
    margin-top: 6px;
    margin-bottom: 5px;
    // display: inline-block;
  }

  .row.spacer {
    min-height: 10px;
  }

  td.no-border {
    border: 0;
  }

  .control-label-adjust {
    padding-top: 3px;
  }

  .search-limit-reached {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #888;
    border-radius: 5px;
  }

  .transaction-url a i {
    padding: 4px;
  }

  .transaction-category {
    background-color: color.adjust($lr-logo-grey, $lightness: 20%);
    padding: 3px;
    border-radius: 3px;
  }

  .clear-selection a.btn {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    font-size: 16pt;
    padding: 3px 6px;
  }

  .social-media {
    >div {
      display: inline-block;
      vertical-align: top !important;
      height: 20px;
      min-width: 30px;
    }

    .facebook {
      margin-right: 20px;
    }
  }

  #help-modal {
    dt {
      width: 60px;
    }

    dd {
      margin-left: 80px;
    }
  }

  input[type=checkbox],
  input[type=radio] {
    -webkit-transform: scale(1.3);
    transform: scale(1.1);
  }

}

.leaflet-tile-container {
  img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.footnotes {
  p {
    margin-inline: 15px;

    @media (min-width: 768px) {
      margin-inline: 0;
    }
  }
}


// Style Updates 2026 Post-Sass Migration

h1,
.h1 {
  font-size: 3.6rem;
}

h2,
.h2 {
  font-size: 3rem;
}

h3,
.h3 {
  font-size: 2.4rem;
}

h4,
.h4 {
  font-size: 2rem;
}

h5,
.h5 {
  font-size: 1.6rem;
}

h6,
.h6 {
  font-size: 1.4rem;
}


label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;

  &:has(input[type="checkbox"]),
  &:has(input[type="radio"]) {
    font-weight: 400;
  }

  &:has(input[type="date"]) {
    line-height: 2;
  }
}

@media (max-width: 768px) {
  .control-legend {
    margin-block-end: 0;
    padding-block-end: 0.75rem;
  }
}

@media (min-width: 768px) {

  .form-horizontal {
    .form-group {
      display: flex;
      gap: 3rem;
      margin-right: -15px;
      margin-left: -15px;
    }

    .control-label {
      line-height: 2.2;
      margin-bottom: 0;
      text-align: right;
    }

    .radio,
    .checkbox {
      min-height: 27px;
    }

    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline {
      padding-top: 7px;
      margin-top: 0;
      margin-bottom: 0;
    }

  }
}

.lr form.ppd ul.list-inline {
  display: inline-flex;
  gap: 0.25rem 1.5rem;
  flex-wrap: wrap
}


.form-control {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 1.4rem;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
}

.form-control::-webkit-input-placeholder {
  color: #999;
}

.input-group .input-group-addon {
  @extend .input-group-text !optional;
  font-size: 1.4rem;
  padding-inline: 1.2rem;
}

// Modal styles
@media (min-width: 768px) {
  .modal {
    --bs-modal-width: 600px;
    --bs-modal-padding: 1.75rem;

    .btn {
      font-size: 1.4rem;
    }
  }

  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
}

.modal-header {
  flex-direction: row-reverse;
  justify-content: space-between;

  button.close {
    align-self: flex-start;
  }
}

.modal-footer {
  align-items: end;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

#help-modal .dl-horizontal {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1.5rem;
  margin-block-end: 2rem;

  dt {
    flex: 0 0 10%;
    max-width: 10%;
    font-weight: 700;
    text-align: end;
  }

  dd {
    flex: 0 0 75%;
    max-width: 75%;
    margin-left: 0;
  }
}

// Lists
.list-bullet {
  list-style-position: outside;
}

.cookie-banner {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: initial;
  padding-inline: 3rem;
  border-bottom: 1px solid #e5e5e5;
}
