@media (min-width: 641px) {
  .lr main {
      font-size: 16px;
      line-height: 1.31578947;
  }
}

.lr {
  .container {
    max-width: 960px;
  }

  #date-slider {
    margin-top: 10px;
  }

  h2, h3 {
    margin-top: 8px;
  }

  .inline {
    display: inline-block;
  }

  form.ppd {
    .form-group {
      margin-bottom: 8px;
    }

    ul {
      margin-bottom: 0;
      -webkit-margin-after: 0;
    }
  }

  .address {
    font-weight: bold;
  }

  .address-text {
    text-transform: capitalize;
  }

  .search-terms {
    margin-bottom: 0;

    .btn {
      border: 0;
      padding-left: 3px;
    }

    label {
      font-weight: normal;
    }

    li.term {
      border: 1px solid #d8d8d8;
      border-radius: 4px;
    }
  }

  .search-selection > span {
    margin-left: 10px;
  }

  .search-summary {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #f3f3f3;
    margin-bottom: 15px;
  }

  .property-details-field-title {
    color: #777;
    text-align: right;
    padding-right: 10px;
    width: 50%;
    font-size: 14px;
  }

 .detailed-address {
    table {
      td {
        border: 0;
        padding: 2px;
      }

    .property-details-field-title {
      padding-right: 10px;
    }

    }

    .search-zoom-button {
      margin: 1px 3px;
    }
  }

  .prices {
    table {
      margin-bottom: 0;
    }

    td {
      padding: 4px;
    }
  }

  .ppd-results {
    h2, h3, h4 {
      font-family: Arial, sans-serif;
    }

    h3.group-key {
      font-variant: small-caps;
      font-size: 10pt;
      color: #555;
      margin: 12px 0 7px;
      text-align: center;
    }

    h4 {
      font-size: 18px;
    }

    td {
      font-size: 16px;
    }
  }

  .property-characteristics li {
    margin: 10px 5px;
  }

  .property-detail-tag {
    color: black;
  }

  .leading-title {
    margin-top: 6px;
    margin-bottom: 5px;
    // display: inline-block;
  }

  .row.spacer {
    min-height: 10px;
  }

  td.no-border {
    border: 0;
  }

  .control-label-adjust {
    padding-top: 3px;
  }

  #ui-datepicker-div {
    z-index: 10 !important;
  }

  .search-limit-reached {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #888;
    border-radius: 5px;
  }

  .transaction-category {
    background-color: lighten( $lr-logo-grey, 20% );
    padding: 3px;
    border-radius: 3px;
  }

  // buttons
  a.btn.btn-primary, a.btn.btn-primary:hover, a.btn.btn-primary:visited, button.btn-primary {
    background-color: $lr-headline;
    color: white;
    font-family: Arial, sans-serif;
    border: 1px solid darken( $lr-headline, 5% );
  }

  a.btn.btn-default, a.btn.btn-default:hover, a.btn.btn-default:visited, button.btn-default {
    background-color: #f0f0f0;
    color: $lr-headline;
    font-family: Arial, sans-serif;
    border: 1px solid darken( $lr-headline, 5% );
  }

  a.action, a.action:hover, a.action:visited {
    color: $lr-headline;
  }

  .clear-selection a.btn {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    font-size: 16pt;
    padding: 3px 6px;
  }

  .social-media {
    > div {
      display: inline-block;
      vertical-align: top !important;
      height: 20px;
      min-width: 30px;
    }
    .twitter {
    }
    .facebook {
      margin-right: 20px;
    }
  }

  #help-modal {
    dt {
      width: 60px;
    }
    dd {
      margin-left: 80px;
    }
  }

  input[type=checkbox],
  input[type=radio] {
    transform: scale(1.1);
    -webkit-transform: scale(1.3);
  }

}


.leaflet-tile-container img {
  -webkit-backface-visibility: hidden;
}
