@import "_colours.scss";
@import "_conditionals.scss";
@import "_css3.scss";
@import "_typography.scss";
@import "design-patterns/_buttons.scss";
@import "design-patterns/_alpha-beta.scss";

/* variables */
$lr-green-dark: #5A8006;
$lr-yellow: #e5ea08;
$lr-logo-green-light: #a6d71c;
$lr-logo-green-dark: #66c430;
$lr-logo-grey: #a7a5a6;
$lr-green-nav: #ACCD40;

$lr-headline: $lr-green-dark;
$lr-separator: $lr-green-nav;
$lr-link: $lr-headline;
$lr-link-quiet: $lr-logo-green-light;
$lr-focus: $lr-logo-green-dark;
$lr-top-line: $lr-green-nav;
$lr-footer-grey: #f0f5f0;
$lr-footer-link: lighten( $lr-separator, 10 );


/* styles */

.beta-banner {
  @include phase-banner(beta);
}
.beta-tag{
  @include phase-tag(beta);
}

.lr {
  #global-header {
    background-color: white;
  }

  #global-header .header-proposition #proposition-links li a {
    color: $lr-link-quiet;
  }

  #global-header .header-proposition #proposition-links li a.active {
    color: $lr-link;
  }

  #global-header .header-proposition #proposition-name {
    color: $lr-headline;
    font-family: GeoHeadlineRegular;
  }

  #global-header .header-proposition a.menu {
    color: $lr-headline;
  }

  :focus, a:focus, input:focus {
    outline: 1px solid $lr-focus;
    background-color: inherit;
  }

  .form-control:focus {
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .lr-top-bar {
    width: 100%;
    height: 3px;
    background-color: $lr-top-line;
    margin: 5px 0;
  }

  .container {
    max-width: 960px;
  }

  section {
    border-top: 10px solid $lr-separator;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #date-slider {
    margin-top: 10px;
  }

  h2, h3 {
    font-family: GeoHeadlineRegular;
  }

  #map {
    width: 300px;
    height: 350px;
  }

  .inline {
    display: inline-block;
  }

  .date-to {
    margin-left: 1em;
  }

  .related-locations {
    margin-bottom: 1em;
  }

  form.search .form-group {
    margin-bottom: 3px;
  }

  // buttons
  a.btn.btn-primary, a.btn.btn-primary:hover, a.btn.btn-primary:visited {
    background-color: $lr-headline;
    color: white;
    font-family: nta, Arial, sans-serif;
    border: 1px solid darken( $lr-headline, 5% );
  }

  a.action, a.action:hover, a.action:visited {
    color: $lr-headline;
  }

  .clear-selection a.btn {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    font-size: 16pt;
    padding: 3px 6px;
  }

  #footer {
    margin-top: 40px;
    background-color: #818181;
    border-top: 8px solid $lr-separator;
    font-size: 11pt;

    h2 {
      img {
        max-height: 18px;
        margin-right: 15px;
      }

      a {
        line-height: normal;
        padding: 0;
        margin: 0;
        font-size: 15pt;
      }

      line-height: normal;
      font-size: 15pt;
    }

    a {
      color: $lr-footer-link;
    }

    .ogl p {
      color: #303030;
      font-size: 11pt;
    }
  }
}


.leaflet-tile-container img {
  -webkit-backface-visibility: hidden;
}


// from gov.uk template
html, body, button, input, table, td, th {
  font-family: "nta", Arial, sans-serif; }

html, body, div, h1, h2, h3, h4, h5, h6, article, aside, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

a,
a:visited {
  color: #2e3191; }

a:hover {
  color: #2e8aca; }

a:active {
  color: #2e8aca; }

#global-header .header-wrapper:after, #global-header .header-wrapper .header-global:after, #global-header .header-wrapper .header-global .header-logo:after, #global-header .header-proposition #proposition-links:after {
  content: "";
  display: block;
  clear: both; }

#global-header {
  background-color: #0b0c0c;
  width: 100%; }
  #global-header .header-wrapper {
    max-width: 990px;
    margin: 0 auto;
    padding: 0.5em 15px; }
    @media (max-width: 640px) {
      #global-header .header-wrapper {
        padding: 0.5em 0; } }
    #global-header .header-wrapper .header-global .header-logo {
      width: 49%;
      float: left; }
      @media (min-width: 769px) {
        #global-header .header-wrapper .header-global .header-logo {
          width: 33.33%; } }
      @media screen and (max-width: 379px) {
        #global-header .header-wrapper .header-global .header-logo {
          width: auto;
          float: none; } }
      #global-header .header-wrapper .header-global .header-logo .content {
        margin: 0 15px; }
    #global-header .header-wrapper .header-global .header-logo {
      margin: 5px 0 2px; }
  @media (min-width: 769px) {
    #global-header.with-proposition .header-wrapper .header-global {
      float: left;
      width: 33.33%; }
      #global-header.with-proposition .header-wrapper .header-global .header-logo,
      #global-header.with-proposition .header-wrapper .header-global .site-search {
        width: 100%; } }
  @media (min-width: 769px) {
    #global-header.with-proposition .header-wrapper .header-proposition {
      width: 66.66%;
      float: left; } }
  #global-header.with-proposition .header-wrapper .header-proposition .content {
    margin: 0 15px; }
  #global-header #logo {
    float: left;
    position: relative;
    top: 1px;
    height: 30px;
    overflow: visible;
    vertical-align: baseline;
    color: white;
    font-weight: bold;
    font-size: 30px;
    line-height: 1em;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    margin-bottom: -1px;
    padding-bottom: 1px; }
    #global-header #logo img {
      position: relative;
      top: -2px;
      width: 35px;
      height: 31px;
      padding-right: 6px;
      float: left;
      display: inline;
      line-height: inherit;
      border: none; }
    #global-header #logo:hover, #global-header #logo:focus {
      text-decoration: none;
      border-bottom: 1px solid;
      padding-bottom: 0; }
    #global-header #logo:active {
      color: #2b8cc4; }
  #global-header .header-proposition {
    padding-top: 10px; }
    @media (min-width: 769px) {
      #global-header .header-proposition {
        padding-top: 0; } }
    #global-header .header-proposition #proposition-name {
      font-family: "nta", Arial, sans-serif;
      font-size: 24px;
      line-height: 1.25;
      font-weight: 400;
      text-transform: none;
      font-weight: bold;
      color: white;
      text-decoration: none; }
      @media (max-width: 640px) {
        #global-header .header-proposition #proposition-name {
          font-size: 20px;
          line-height: 1.2; } }
    #global-header .header-proposition a.menu {
      font-family: "nta", Arial, sans-serif;
      font-size: 16px;
      line-height: 1.25;
      font-weight: 300;
      text-transform: none;
      color: white;
      display: block;
      float: right;
      text-decoration: none;
      padding-top: 6px; }
      @media (max-width: 640px) {
        #global-header .header-proposition a.menu {
          font-size: 14px;
          line-height: 1.14286; } }
      @media (min-width: 769px) {
        #global-header .header-proposition a.menu {
          display: none; } }
      #global-header .header-proposition a.menu:hover {
        text-decoration: underline; }
      #global-header .header-proposition a.menu:after {
        display: inline-block;
        font-size: 8px;
        height: 8px;
        padding-left: 5px;
        vertical-align: middle;
        content: " \25BC"; }
      #global-header .header-proposition a.menu.js-hidden:after {
        content: " \25B2"; }
    #global-header .header-proposition #proposition-menu {
      margin-top: 5px; }
    #global-header .header-proposition #proposition-links {
      clear: both;
      margin: 2px 0 0 0;
      padding: 0; }
      .js-enabled #global-header .header-proposition #proposition-links {
        display: none; }
        @media (min-width: 769px) {
          .js-enabled #global-header .header-proposition #proposition-links {
            display: block; } }
        .js-enabled #global-header .header-proposition #proposition-links.js-visible {
          display: block; }
      #global-header .header-proposition #proposition-links li {
        float: left;
        width: 50%;
        padding: 3px 0;
        border-bottom: 1px solid #2e3133; }
        @media (min-width: 769px) {
          #global-header .header-proposition #proposition-links li {
            display: block;
            width: auto;
            padding: 0 15px 0 0;
            border-bottom: 0; }
            #global-header .header-proposition #proposition-links li.clear-child {
              clear: left; } }
        #global-header .header-proposition #proposition-links li a {
          color: white;
          text-decoration: none;
          font-family: "nta", Arial, sans-serif;
          font-size: 14px;
          line-height: 1.42857;
          font-weight: 400;
          text-transform: none;
          font-weight: 700; }
          @media (max-width: 640px) {
            #global-header .header-proposition #proposition-links li a {
              font-size: 12px;
              line-height: 1.25; } }
          @media (min-width: 769px) {
            #global-header .header-proposition #proposition-links li a {
              font-family: "nta", Arial, sans-serif;
              font-size: 16px;
              line-height: 1.25;
              font-weight: 300;
              text-transform: none;
              font-weight: 700;
              line-height: 23px; } }
            @media (min-width: 769px) and (max-width: 640px) {
              #global-header .header-proposition #proposition-links li a {
                font-size: 14px;
                line-height: 1.14286; } }
          #global-header .header-proposition #proposition-links li a:hover {
            text-decoration: underline; }
          #global-header .header-proposition #proposition-links li a.active {
            color: #28a197; }

