@import "_colours.scss";
@import "_conditionals.scss";
@import "_css3.scss";
@import "_typography.scss";
@import "design-patterns/_buttons.scss";
@import "design-patterns/_alpha-beta.scss";
@import "uk-gov-lite.scss";

/* variables */
$lr-green-dark: #5A8006;
$lr-yellow: #e5ea08;
$lr-logo-green-light: #a6d71c;
$lr-logo-green-dark: #66c430;
$lr-logo-grey: #a7a5a6;
$lr-green-nav: #ACCD40;

$lr-headline: $lr-green-dark;
$lr-separator: $lr-green-nav;
$lr-link: $lr-headline;
$lr-link-quiet: $lr-logo-green-light;
$lr-focus: $lr-logo-green-dark;
$lr-top-line: $lr-green-nav;
$lr-footer-grey: #f0f5f0;
$lr-footer-link: lighten( $lr-separator, 10 );



/* styles */

.beta-banner {
  @include phase-banner(beta);
}
.beta-tag{
  @include phase-tag(beta);
}

.lr {
  #global-header {
    background-color: white;
  }

  #global-header .header-proposition #proposition-links li a {
    color: $lr-link-quiet;
  }

  #global-header .header-proposition #proposition-links li a.active {
    color: $lr-link;
  }

  #global-header .header-proposition #proposition-name {
    color: $lr-headline;
    font-family: GeoHeadlineRegular;
  }

  #global-header .header-proposition a.menu {
    color: $lr-headline;
  }

  :focus, a:focus, input:focus {
    outline: 1px solid $lr-focus;
    background-color: inherit;
  }

  .form-control:focus {
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .lr-top-bar {
    width: 100%;
    height: 3px;
    background-color: $lr-top-line;
    margin: 5px 0;
  }

  .container {
    max-width: 960px;
  }

  section {
    border-top: 10px solid $lr-separator;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #date-slider {
    margin-top: 10px;
  }

  h2, h3 {
    font-family: GeoHeadlineRegular;
    margin-top: 8px;
  }

  .inline {
    display: inline-block;
  }

  form.ppd {
    .form-group {
      margin-bottom: 8px;
    }

    ul {
      margin-bottom: 0;
      -webkit-margin-after: 0;
    }
  }

  .address {
    font-weight: bold;
  }

  .address-text {
    text-transform: capitalize;
  }

  .search-terms {
    .btn {
      border: 0;
      padding-left: 3px;
    }

    label {
      font-weight: normal;
    }
  }

  .property-details-field-title {
    color: #777;
    text-align: right;
    padding-right: 10px;
    width: 50%;
  }

 .detailed-address {
    table {
      td {
        border: 0;
        padding: 2px;
      }

    .property-details-field-title {
      padding-right: 10px;
    }

    }

    .search-zoom-button {
      margin: 1px 3px;
    }
  }

  .prices {
    table {
      margin-bottom: 0;
    }

    td {
      padding: 4px;
    }
  }

  .ppd-results {
    h2, h3, h4 {
      font-family: nta, Arail, sans-serif;
    }

    h3 {
      font-size: 18px;
    }
  }

  .property-characteristics li {
    margin: 10px 5px;
  }

  .property-detail-tag {
    color: black;
  }

  .leading-title {
    margin-top: 6px;
    margin-bottom: 5px;
    // display: inline-block;
  }

  .row.spacer {
    min-height: 10px;
  }

  td.no-border {
    border: 0;
  }

  .list-inline label {
    // margin-bottom: 0;
  }

  .control-label-adjust {
    padding-top: 3px;
  }

  #ui-datepicker-div {
    z-index: 10 !important;
  }

  // buttons
  a.btn.btn-primary, a.btn.btn-primary:hover, a.btn.btn-primary:visited {
    background-color: $lr-headline;
    color: white;
    font-family: nta, Arial, sans-serif;
    border: 1px solid darken( $lr-headline, 5% );
  }

  a.action, a.action:hover, a.action:visited {
    color: $lr-headline;
  }

  .clear-selection a.btn {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    font-size: 16pt;
    padding: 3px 6px;
  }

  #footer {
    margin-top: 40px;
    background-color: #818181;
    border-top: 8px solid $lr-separator;
    font-size: 11pt;

    h2 {
      img {
        max-height: 18px;
        margin-right: 15px;
      }

      a {
        line-height: normal;
        padding: 0;
        margin: 0;
        font-size: 15pt;
      }

      line-height: normal;
      font-size: 15pt;
    }

    a {
      color: $lr-footer-link;
    }

    .ogl p {
      color: #303030;
      font-size: 11pt;
    }
  }
}


.leaflet-tile-container img {
  -webkit-backface-visibility: hidden;
}
