-# frozen_string_literal: true

#bookmark-modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
          &times;
        %h2.modal-title
          Link to the current search
      .modal-body
        %p
          You can copy the current search settings to save them
          as a bookmark, or share with other people. Just-press
          %code ctrl-C
          (or
          %code cmd-C
          on a Mac) to copy a link to this page.
        %p
          = label_tag 'bookmark', 'URL bookmark'
          = text_field_tag 'bookmark', "", class: "form-control bookmark-url", autocomplete: "off", type: "url", name: "bookmark"
        .social-media.text-center
          .twitter
            %a.twitter-share-button{ href: "https://twitter.com/share", data: {url: "", text: "Open data from Land Registry", hashtags: "opendata"}}
              Tweet

      .modal-footer
        .row
          %a.btn.btn-default{ href: "#",  data: {dismiss: "modal"} }
            OK
