#bookmark-modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
          &times;
        %h2.modal-title
          Link to the current search
      .modal-body
        %p
          You can copy the current search settings to save them
          as a bookmark, or share with other people. Just-press
          %code ctrl-C
          (or
          %code cmd-C
          on a Mac) to copy a link to this page.
        %p
          = text_field_tag 'bookmark', "", class: "form-control bookmark-url"
      .modal-footer
        .row
          %a.btn.btn-default{ href: "#",  data: {dismiss: "modal"} }
            OK
