.container
  .row
    .col-md-12
      %p.bg-warning.text-warning{ style: "padding: 15px;" }
        %strong
          Please note:
        we are experiencing some technical difficulties, and the PPD Report Builder
        is yet to be updated with April 2015 data. We are working
        on fixing this as quickly as possible. We apologise for any
        inconvenience that this may cause.
        %small.pull-right.text-muted
          29 May 2015
