.container
  %h4 System notice
  %p.text-warning
    We are currently experiencing a technical problem with the data loading
    system. As a result, the
    Price Paid Report Builder has
    <strong>not yet been updated with data from the
    February 26th 2016 release</strong>.
    We are currently working on a fix, and hope to have the data fully
    available soon.
