.container
  %h4 System notice
  %p.text-warning
    We are currently experiencing technical issues, and the
    Price Paid Report Builder has <strong>not been updated with data
    from the February 2016 release</strong>.
    We apologise for any inconvenience, and
    are currently working on a fix.
    Please note that you can
    <a href="https://data.gov.uk/dataset/land-registry-monthly-price-paid-data">
    download the updated files</a>.
