%footer#footer{:role => "contentinfo"}
  .container
    %h2.hidden Support links
    %ul.list-inline
      %li
        %a{:href => "http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm"} © Crown copyright 2014
      %li
        %a{:href => "http://www.landregistry.gov.uk/public/information/privacy"} Privacy and Cookies
      %li
        %a{:href => "http://www.landregistry.gov.uk/public/information"} Terms and conditions
      %li
        %a{:href => "http://www.landregistry.gov.uk/professional/market-trend-data/public-data"} Land Registry Public Data
    .ogl
      %h2.pull-left
        %a{:href => "http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2"}
          %img{:alt => "OGL", :src => "https://assets.digital.cabinet-office.gov.uk/static/open-government-licence_2x-d273d7eca3045d3b710a863d9bfc0b33.png"}/
      %p
        All content is available under the
        %a{:href => "http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2"} Open Government Licence v2.0
        except where otherwise stated

    .clearfix
