.pull-right
  .small
    %a.btn.btn-sm.btn-primary{ href: "#{@preferences.as_path( :ppd )}"}
      Change search settings
    - unless defined? no_download
      %a.btn.btn-sm.btn-primary{ href: "#"}
        Download data
    - unless defined? no_print
      %a.btn.btn-sm.btn-default{ href: "#", alt: "Printable view", title: "Printable view"}
        %i.fa.fa-print
