.pull-right
  %a.btn.btn-primary{ href: "#{@preferences.as_path( :ppd )}"}
    %i.fa.fa-edit
    Change search settings
  -unless defined? no_results
    %a.btn.btn-primary{ href: "#{@preferences.as_path( :search )}"}
      %i.fa.fa-mail-reply
      Back to results
  - unless defined? no_download
    %a.btn.btn-primary{ href: "#{@preferences.as_path( :ppd_data )}"}
      %i.fa.fa-download
      Download data
  - unless defined? no_print
    %a.btn.btn-default{ href: "#", alt: "Printable view" }
      %i.fa.fa-print
      printable view
  - unless defined? no_bookmark
    %a.btn.btn-default.js.hidden.action-bookmark{ href: "#", alt: "bookmark this view", data: {url: "#{@preferences.as_path( :search )}" } }
      %i.fa.fa-share-square-o
      share view
