-# frozen_string_literal: true

.row
  %h1.col-md-12
    Search the price paid dataset:
  %p.col-md-12
    Enter one or more search terms to locate the property transactions
    you are interested in.

.row
  .col-md-12
    =form_tag( {controller: :search, action: :create}, {role: "form", class: "ppd form form-horizontal"} ) do
      .form-group
        %label.col-sm-4.control-label{ for: "paon" } Building name or number
        .col-sm-8
          %input#paon.form-control{ type: "text", name: "paon", value: @preferences.param( :paon ), placeholder: "For example: Rose Cottage or 17" }

      .form-group
        %label.col-sm-4.control-label{ for: "street" } Street
        .col-sm-8
          %input#street.form-control{ type: "text", name: "street", value: @preferences.param( :street ), placeholder: "Use the full name, or just part of it e.g: Harbour Road or Colston" }

      .form-group
        %label.col-sm-4.control-label{ for: "town" } Town or city
        .col-sm-8
          %input#town.form-control{ type: "text", name: "town", value: @preferences.param( :town ), placeholder: "For example: Plymouth" }

      .form-group
        %label.col-sm-4.control-label{ for: "district" } District
        .col-sm-8
          %input#district.form-control{ type: "text", name: "district", value: @preferences.param( :district ), placeholder: "For example: City of Westminster" }

      .form-group
        %label.col-sm-4.control-label{ for: "county" } County
        .col-sm-8
          %input#county.form-control{ type: "text", name: "county", value: @preferences.param( :county ), placeholder: "For example: Devon" }


      .form-group
        %label.col-sm-4.control-label{ for: "postcode" } Postcode
        .col-sm-8
          %input#postcode.form-control{ type: "text", name: "postcode", value: @preferences.param( :postcode ), placeholder: "Use a full postcode, or just the first group e.g. PL6 5WS or PL6." }

      .form-group
        %label.col-sm-4.control-label{ for: "ptype" } Property type
        .col-sm-8
          %ul.list-inline
            %li
              .checkbox
                %label
                  %input{ type: "checkbox", name: "ptype[]", value: "lrcommon:detached", checked: @preferences.display_checked?( :ptype, "lrcommon:detached") }
                  detached
            %li
              .checkbox
                %label
                  %input{ type: "checkbox", name: "ptype[]", value: "lrcommon:semi-detached", checked: @preferences.display_checked?( :ptype, "lrcommon:semi-detached") }
                  semi-detached
            %li
              .checkbox
                %label
                  %input{ type: "checkbox", name: "ptype[]", value: "lrcommon:terraced", checked: @preferences.display_checked?( :ptype, "lrcommon:terraced") }
                  terraced
            %li
              .checkbox
                %label
                  %input{ type: "checkbox", name: "ptype[]", value: "lrcommon:flat-maisonette", checked: @preferences.display_checked?( :ptype, "lrcommon:flat-maisonette") }
                  flat/maisonette
            %li
              .checkbox
                %label
                  %input{ type: "checkbox", name: "ptype[]", value: "lrcommon:otherPropertyType", checked: @preferences.display_checked?( :ptype, "lrcommon:otherPropertyType") }
                  other

      .form-group
        %label.col-sm-4.control-label{ for: "nb" } New build?
        .col-sm-8
          %ul.list-inline
            %li
              .checkbox
                %label
                  %input{ type: "checkbox", name: "nb[]", value: "true", checked: @preferences.display_checked?( :nb, "true" ) }
                  new-build
            %li
              .checkbox
                %label
                  %input{ type: "checkbox", name: "nb[]", value: "false", checked: @preferences.display_checked?( :nb, "false" ) }
                  not new-build

      .form-group
        %label.col-sm-4.control-label{ for: "et" } Estate type
        .col-sm-8
          %ul.list-inline
            %li
              .checkbox
                %label
                  %input{ type: "checkbox", name: "et[]", value: "lrcommon:freehold", checked: @preferences.display_checked?( :et, "lrcommon:freehold" ) }
                  freehold
            %li
              .checkbox
                %label
                  %input{ type: "checkbox", name: "et[]", value: "lrcommon:leasehold", checked: @preferences.display_checked?( :et, "lrcommon:leasehold" ) }
                  leasehold

      .form-group
        %label.col-sm-4.control-label{ for: "tc" } Transaction category
        .col-sm-8
          %ul.list-inline
            %li
              .checkbox
                %label
                  %input{ type: "checkbox", name: "tc[]", value: "ppd:standardPricePaidTransaction", checked: @preferences.display_checked?( :tc, "ppd:standardPricePaidTransaction" ) }
                  standard
            %li
              .checkbox
                %label
                  %input{ type: "checkbox", name: "tc[]", value: "ppd:additionalPricePaidTransaction", checked: @preferences.display_checked?( :tc, "ppd:additionalPricePaidTransaction" ) }
                  additional

      .form-group
        %label.col-sm-4.control-label{ for: "min_price" } Minimum price
        .col-sm-8
          .row
            .col-sm-4
              .input-group
                %span.input-group-addon
                  &pound;
                %input#min_price.form-control{ type: "text", name: :min_price, value: @preferences.param( :min_price ) }
            .col-sm-8.hidden.validation-warning
              %p.bg-warning
                Please enter a valid numerical value, or leave blank
      .form-group
        %label.col-sm-4.control-label{ for: "max_price" } Maximum price
        .col-sm-8
          .row
            .col-sm-4
              .input-group
                %span.input-group-addon
                  &pound;
                %input#max_price.form-control{ type: "text", name: :max_price, value: @preferences.param( :max_price ) }
            .col-sm-8.hidden.validation-warning
              %p.bg-warning
                Please enter a valid numerical value, or leave blank

      .form-group
        %label.col-sm-4.control-label.control-label-adjust{ for: "date" } Date
        .col-sm-8
          %ul.list-inline
            %li
              %div
                %label
                  earliest:
                  %input.date-picker{ type: "text", name: :min_date, value: @preferences.param( :min_date ) }
            %li
              %div
                %label
                  latest:
                  %input.date-picker{ type: "text", name: :max_date, value: @preferences.param( :max_date ) }

      .form-group
        %label.col-sm-4.control-label{ for: "limit" } How many results?
        .col-sm-8
          %ul.list-inline
            %li
              .radio
                %label
                  %input{ type: "radio", name: :limit, value: "100", checked: @preferences.selected_limit == "100" }
                  at most 100
            %li
              .radio
                %label
                  %input{ type: "radio", name: :limit, value: "1000", checked: @preferences.selected_limit == "1000" }
                  at most 1000
            %li
              .radio
                %label
                  %input{ type: "radio", name: :limit, value: "all", checked: @preferences.selected_limit == "all" }
                  all
      .col-sm-12
        .pull-right.search-form-actions
          .search-form-action
            %a.js.hidden.button.button--secondary.action-help{ href: "#", alt: "Help and tips", title: "Help and tips" }
              %i.fa.fa-question-circle
              help
          .search-form-action
            = link_to( {controller: :ppd, action: :index}, {class: "button button--secondary"} ) do
              %i.fa.fa-refresh
              reset the form
          .search-form-action
            %button.button{ type: 'submit' }
              %i.fa.fa-search
              show results

= render partial: "bookmark_modal"
= render partial: "help_modal"
